/* fonts google */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --tu-color: turquoise;

}

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background-color: #fff;
    text-align: center;
}

a {
    color: #1f242d;
    text-decoration: none;
}

a:hover {
    color: var(--tu-color);
    color: #ba2e45;
}

li {
    list-style: none;
    cursor: pointer;
}

button {
    background-color: none;
    border: none;
    cursor: pointer;
}

img {
    max-width: 100%;
}

#page {
    overflow: hidden;
}

/* ------
 REUSED STYLE
 ------
 */
.container {
    margin-inline: auto;
    padding-inline: 15px;
    max-width: 100%;
}

.button {
    background-color: #8EADD5;
    display: inline-block;
    padding: 8px 20px;
    color: #fff;
    border-radius: 8px;
    transition: 500ms ease;
    -webkit-transition: 500ms ease;
    -moz-transition: 500ms ease;
    -ms-transition: 500ms ease;
    -o-transition: 500ms ease;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.button:is(:hover, :focus-visible) {
    background-color: #ba2e45;
    color: #fff;
}

.head {
    margin-block-end: 25px;
    color: #272d38;
    font-size: 1.5rem;
    font-weight: bold;
}

/* HEADER */

.header {
    padding-block-start: 45px;
    position: relative;
}

.header::after {
    content: '';
    position: absolute;
    /*background:rgb(142,173,213,24%);
    */
    background: rgba(1, 86, 196, 0.24);
    width: 500px;
    height: 500px;
    border-radius: 50%;
    top: -207px;
    left: -201px;
    filter: blur(150px);
    pointer-events: none;
    -webkit-filter: blur(150px);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* LOGO+++MENU ICON */
.container-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1 {
    font-size: 1rem;
    font-weight: 900;
}

.button-navbar {
    font-size: 1.4rem;
    border-radius: 5px;
    padding: 3px 5px 0
}

.navbar {
    position: fixed;
    height: 100vh;
    background: rgba(2, 30, 72, 1);
    background-color: rgb(111, 197, 169);
    background-color: rgb(133, 150, 197);
    width: 100%;
    max-width: 360px;
    /*left: 0;
    */
    right: 0;
    top: 0;
    padding-block-start: 40px;
    padding-inline: 20px;
    transform: translateX(100%);
    transition: 500ms ease-in-out;
    z-index: 5;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    -webkit-transition: 500ms ease-in-out;
    -moz-transition: 500ms ease-in-out;
    -ms-transition: 500ms ease-in-out;
    -o-transition: 500ms ease-in-out;
}

.navbar:is(.active) {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}


.navbar .container-logo {
    /*space between h1,close-icon &and the content ul or links*/
    margin-block-end: 20px;
}

.menu-links {
    display: block;
    margin-block-end: 15px;
    color: #fff;
    transition: 400ms ease-in;
    -webkit-transition: 400ms ease-in;
    -moz-transition: 400ms ease-in;
    -ms-transition: 400ms ease-in;
    -o-transition: 400ms ease-in;
}

.menu-links:hover {
    color: #1f242d;
    padding-inline-start: 40px;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 4;
    background-color: #fff;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out;
    -webkit-transition: 400ms ease-in-out;
    -moz-transition: 400ms ease-in-out;
    -ms-transition: 400ms ease-in-out;
    -o-transition: 400ms ease-in-out;
}

.overlay:is(.active) {
    visibility: visible;
    opacity: .4;
}

/**
-----------
INTRO
-----------
**/
.intro {
    /* text-align:center;  هندي لللbodyكلها*/
    padding-block-start: 70px;
}

.intro .content {
    margin-block-end: 30px;
}

.intro .content h2 {
    font-size: 1.7rem;
    font-weight: bold;
    color: #272d38;
    margin-block-end: 10px;
}

.intro .content p {
    margin-block-end: 10px;
    font-size: .9rem;
}

/**
-----------
logo clients
-----------
**/
.logo-client {
    margin-block-start: 50px;
    margin-block-end: 50px;
}

.logo-client p {
    font-size: .8rem;
    margin-block-end: 10px;
    color: #667085;
}

.logo-client ul {
    display: flex;
    background-color: #f6f6f6;
    padding: 25px 10px;
    border-radius: 8px;
    gap: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

/**
-----------
featchers
-----------
**/
.featchers {
    margin-block-end: 50px;
    position: relative;
}

.decor::after {
    content: '';
    position: absolute;
    background: rgba(1, 86, 196, 0.24);
    /*background:rgb(142,173,213,24%);
    */width: 499px;
    height: 499px;
    border-radius: 50%;
    bottom: -456px;
    right: -201px;
    filter: blur(150px);
    pointer-events: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-filter: blur(150px);
}

.featchers .text-content,
.text-content p {
    margin-block-end: 25px;
}


/* ------
 TESTIMONIALS
 ------
 */
.testimonials {
    margin-block-end: 50px;
}

.testimonials small {
    color: #272d38;
    display: block;
    margin-block-end: 10px;
}

.testimonials ul {
    /* عشان يعمل مسافه بين العناصرitem */
    display: grid;
    gap: 30px;
}

.testimonials ul li .item {
    background-color: #f6f6f6;
    border-radius: 20px;
    padding: 40px;
    color: #272d38;
    font-size: 14px;
    line-height: 1.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.testimonials ul li .item .image-user {
    width: 130px;
    height: 130px;
    border: 1px solid #dedcdb;
    border-radius: 50%;
    overflow: hidden;
    margin-inline: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.testimonials ul li .item h3 {
    margin-block-start: 10px;
    margin-block-end: 25px;
    font-weight: 500;
    font-size: 1.1rem;
}

/* ------
 CONTACT
 ------
 */
.contact {
    margin-block-end: 50px;

}

.contact .block {
    background-color: #f6f6f6;
    border-radius: 20px;
    padding: 40px 20px;
    color: #272d38;
    font-size: 14px;
    line-height: 1.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.contact .block .image {
    display: none;
}

.contact .block p {
    margin-block-end: 20px;
}

/* ------
 FOOTER
 ------
 */
.footer {
    background-color: #f6f6f6;
    padding-block-start: 50px;
    padding-block-end: 20px;
    color: #272d38;
    font-size: 14px;
    line-height: 1.8;
}

.footer a {
    color: #272d38;
    display: block;
}

.footer .item-footer {
    /* مسافه مابين كل item */
    margin-block-end: 40px;
}

.footer .item-footer h2 {
    font-size: 1rem;
    margin-block-end: 10px;
}

.copyright {
    margin-block-start: 60px;
    text-align: center;
}

.copyright p {
    font-size: 12px;
}

/* 
media query
*/

/*--
RESPONSIVE for large than+ 575px screen
--*/
@media (min-width:575px) {

    /* ------
 REUSED STYLE
 ------
 */
    .container {
        max-width: 450px;
    }

    /**
-----------
logo clients
-----------
**/
    .logo-client {
        justify-content: space-around;
    }
}

/*--
RESPONSIVE for large than+ px screen
--*/
@media (min-width:768px) {

    /* ------
 REUSED STYLE
 ------
 */

    .container {
        max-width: 720px;

    }

    .logo h1 {
        font-size: 1.4rem;
        font-weight: 900;
    }

    .button {
        color: #272d38;
        background-color: #8eadd549;
        text-transform: uppercase;
        padding: 10px 40px;
        border-bottom-left-radius: 130px;
        border-top-right-radius: 130px;

    }

    .header .container {
        display: flex;
        justify-content: space-between;
    }

    .button-navbar,
    .navbar .container-logo,
    .overlay {
        display: none;
    }

    .navbar {
        all: unset;
        transform: unset;
    }

    .list-menu {
        display: flex;
        margin-left: 30px;
        
    }

    .menu-items {
        margin-inline-start: 40px;
    }

    .menu-links {
        color: #272d38;
        margin-block-end: 0;
        font-size: 1.3rem;
        transition: 500ms ease;
        -webkit-transition: 500ms ease;
        -moz-transition: 500ms ease;
        -ms-transition: 500ms ease;
        -o-transition: 500ms ease;
    }

    .menu-links:hover {
        padding-inline-start: unset;
        color: #ba2e45;
    }

    /* ------
INTRO
------
 */
    .intro .container {
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(2, 50%);
    }

    .intro .content {
        margin-block-end: 0;
        padding-inline-end: 90px;
        width: 340px;
    }

    .arrow {
        font-size: 30px;
        color: #8EADD5;
    }

    .intro .content h2 {
        font-size: 1.9rem;
        margin-block-end: 20px;
    }

    .intro .content p {
        font-size: 1rem;
        margin-block-end: 20px;
    }

    .testimonials ul {
        display: grid;
        /*ممكن اعمل نفسه الفكره في
الموبايل بس هيبقي صف مش عمود */
        grid-template-columns: repeat(3, 1fr);
    }

    .logo-client p {
        text-align: center;
        font-size: 1rem;
    }

    .logo-client ul {
        width: 80%;
        margin-bottom: 80px;
        margin-inline: auto;
        justify-content: space-between;
    }
}

/*-----
RESPONSIVE for large than+ 992px screen
--*/
@media (min-width:992px) {

    body {
        text-align: start;
    }

    /* ------
 REUSED STYLE START
 ------
 */
    .container {
        max-width: 950px;
    }

    .button {
        padding: 13px 35px;
        border-radius: 10px;
}

    .head {
        font-size: 2.3rem;
    }

    /* ------
  REUSED STYLE END
 ------
 */
    /* ------
HEADER
------
 */
    .header .container {
        display: flex;
        justify-content: space-between;
    }

    .button-navbar,
    .navbar .container-logo,
    .overlay {
        display: none;
    }

    .navbar {
        all: unset;
        transform: unset;
        -webkit-transform: unset;
        -moz-transform: unset;
        -ms-transform: unset;
        -o-transform: unset;
    }

    .list-menu {
        display: flex;

    }

    .menu-items {
        margin-inline-start: 40px;
    }

    .menu-links {
        color: #272d38;
        margin-block-end: 0;
        transition: 500ms ease;
        -webkit-transition: 500ms ease;
        -moz-transition: 500ms ease;
        -ms-transition: 500ms ease;
        -o-transition: 500ms ease;
}

    .menu-links:hover {
        padding-inline-start: unset;
        color: #ba2e45;
    }

    /* ------
INTRO
------
 */
    .intro .container {
        display: grid;
        align-items: center;
        justify-content: space-between;
        grid-template-columns: repeat(2, 50%);
        gap: 50px;
    }

    .intro .content {
        margin-block-end: 0;
        padding-inline-end: 90px;
        width: 540px;
    }

    .intro .content h2 {
        font-size: 2.8rem;
        margin-block-end: 20px;
    }

    .intro .content p {
        font-size: 1rem;
        margin-block-end: 20px;
    }

    /* ------
logo client
------
 */
    .logo-client p {
        text-align: center;
        font-size: 1rem;
    }

    .logo-client ul {
        width: 70%;
        margin-inline: auto;
    }

    /* ------
   Featchers
  ------
 */
    .featchers .container {
        display: grid;
        gap: 40px;
        grid-template-columns: repeat(2, 1fr);
    }

    .featchers .image {
        order: -1;
    }

    .featchers .text-content {
        margin-block-end: 0;
        font-size: 1.2rem;
    }

    .featchers .text-content ion-icon {
        /* transform: rotate(-270deg); */
        rotate: -270deg;
    }

    .featchers+.featchers .image {
        /* order:1; */
        order: unset;
    }

    .testimonials {
        text-align: center;
    }

    .testimonials ul {
        display: grid;
        /*ممكن اعمل نفسه الفكره في
  الموبايل بس هيبقي صف مش عمود */
        grid-template-columns: repeat(3, 1fr);
    }

    /* 
----contact---
*/
    .contact .block .image {
        display: block;
        height: 350px;
    }

    .contact .block .image img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }

    .contact .block {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    /* footer */

    .footer ul {
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(4, 1fr);
    }

    .footer.copyright {
        text-align: center;
    }
}

/*-----
RESPONSIVE for large than+ 1200px screen
--*/
@media (min-width:1200px) {

    /* ------
 REUSED STYLE START
 ------
 */
    .container {
        max-width: 1150px;
    }

    .head {
        font-size: 2.6rem;
    }

    /* updet in header */
    .logo h1 {
        font-size: 1.5rem;
    }

    /*intro */
    .intro {
        margin-block-end: 180px;
        padding-block-start: 170px;
    }

    .intro .container {
        grid-template-columns: repeat(2, 65%, 35%);
    }

    .intro .content h2 {
        font-size: 4rem;
    }

    .intro .content p {
        padding-inline-end: 210px;
    }

    .intro .image {
        text-align: right;
    }

    /* featchers */

    .featchers .head {
        width: 340px;
    }

    .featchers .text-content {
        padding-inline-end: 130px;
    }

}


/*-----
RESPONSIVE for large than+ 1400px screen
--*/
@media (min-width:1400px) {

    /* ------
 REUSED STYLE START
 ------
 */
    .container {
        max-width: 1350px;
    }

    .intro .content {
        padding-inline-end: 160px;
    }

}